.signIn .wrapper{
    margin: 8rem 0rem;
}
.signIn form{
    border-radius: 0.5rem;
    width: 40%;
    margin: 0rem auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem;
    box-shadow: 2px 2px 10rem rgba(0, 0, 0, 0.1);
}

.signIn form h2{
    margin: 1rem 0rem;
    text-align: center;
}

.signIn form input{
    padding: 1rem 1.5rem;
    outline: none;
    border: 1px solid var(--Gray1);
    border-radius: 0.5rem;
}

.signIn form  div:nth-child(4){
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1.5rem 0rem;
}

.signIn label{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    cursor: pointer;
}

.signIn form .btn{
    width: 100%;
    padding: 1rem;
    cursor: pointer;
}

form .btn img{
    filter: brightness(0) saturate(100%) invert(100%) sepia(4%) saturate(0%) hue-rotate(302deg) brightness(106%) contrast(105%);
    width: 2rem;
    animation: loading 2s linear infinite;
}

.signIn .s-fontsize{
    color: var(--Gray5);
    text-decoration: none;
}
.signIn form  div:nth-child(6){
    text-align: center;
    margin: 1.5rem;
}
.signIn form  div:nth-child(6) .s-fontsize{
    color: var(--Gray9);
}

@keyframes loading {
    to {
        transform: rotateZ(-360deg);
      }
    }

@media only screen and (max-width: 1024px) {
    .signIn form{
        border-radius: 0.5rem;
        width: 50%;
    }
}

@media only screen and (max-width: 800px) {
    .signIn form{
        border-radius: 0.5rem;
        width: 60%;
    }
}

@media only screen and (max-width: 700px) {
    .signIn form{
        border-radius: 0.5rem;
        width: 80%;
    }
}

