.reliable-container{
    padding: 2rem;
}
.reliable-card-container{
    /* border: 1px solid red; */
    width: 80%;
    margin: 0rem auto;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.reliable-card{
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 3rem 0rem;
    border-bottom: 2px solid transparent;
}

.reliable-card-container :nth-child(3) img{
    filter: brightness(0) saturate(100%) invert(28%) sepia(100%) saturate(1777%) hue-rotate(115deg) brightness(107%) contrast(109%);
}

.reliable-card > div{
    width: 7rem;
    height: 7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url('../../assets/icons/iconBg1.svg') no-repeat center/cover;
    margin-bottom: 1rem;
}

.reliable-card h2{
 color: var(--Gray9);
}

.reliable-card p{
    color: var(--Gray4);
}
   

.reliable-container .line{
    width: 80%;
    margin: 0rem auto;
    position: relative;
}

.line hr{
    width: 100%;
    color: var(--Gray1);
    opacity: 0.5;
}

.reliable-card:hover{
    border-color: var(--Primary);
    transition: all ease-in-out;
    cursor: url('../../assets/icons/leaf.png'), auto;
}

.reliable-card:hover  img{
    transition: all ease-in-out;
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(2%) hue-rotate(329deg) brightness(109%) contrast(101%);
}

.reliable-card:hover div{
    transition: all ease-in-out;
    background-image: url('../../assets/icons/iconBg1Hover.svg');
}

@media only screen and (max-width: 1200px) {
    .reliable-card-container, .reliable-container .line{
        width: 90%;
    }
}

@media only screen and (max-width: 1024px) {
    .reliable-container .line{
        display: none;
    }
    .reliable-card-container{
        flex-wrap: wrap;
        text-align: center;
        align-items: flex-start;
    }

    .reliable-card{
        width: 30%;
    }
}

@media only screen and (max-width: 600px) {
    .reliable-card{
        width: 45%;
    }
}



