.longInfo{
    border-top: 1px solid var(--Gray1);
}

.longInfo .description, .longInfo .additional-info{
    width: 80%;
    margin: 0rem auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;
    padding: 3rem 0rem;
}

.longInfo .content, .longInfo .video-container{
    flex: 1;
}

.longInfo .content{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    color: var(--Gray5);
    padding-right: 5rem;
}

.longInfo .content ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.longInfo .content li{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.longInfo .video-box{
    height: fit-content;
    position: relative;
}

.thumbnail{
    width: 100%;
}

.playBtn{
    position: absolute;
    top: 42%;
    left: 45%;
    cursor: pointer;
}

.longInfo .card-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3rem 1.5rem;
    gap: 1rem;
    border: 1px solid var(--Gray1);
    margin-top: 2rem;
    border-radius: 0.7rem;
}
.longInfo .card-container .card{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}

.longInfo .card .fw-600{
    color: var(--Gray9);
    margin-bottom: 0.5rem;
}

.longInfo .card .fw-400{
    color: var(--Gray5);
}

/* additional-info */


.longInfo .row{
    display: flex;
    align-items: center;
    justify-content: center;
}
.longInfo .row :first-child{
    flex: 1;
    color: var(--Gray9);
}

.longInfo .row :last-child{
    flex: 3.5;
    color: var(--Gray5);
}

/* .longInfo .customer-feedback{
    border: 1px solid red;
} */

.longInfo .feedback-container{
    width: 80%;
    margin: 0rem auto 3rem auto;
}

.longInfo .feedback{
    border-top: 1px solid var(--Gray1);
    padding: 2.5rem 0rem;
    width: 70%;
}

.feedback-container :first-child{
    border: none;
}

.longInfo .user-img-name-wrapper{
    display: flex;
    align-items: center;
    gap: 1rem;
    position: relative;
}

.longInfo .user-img-box{
    width: 5rem;
    height: 5rem;
    border-radius: 20rem;
}

.longInfo .user-img-box img{
    width: 100%;
    height: 100%;
    border-radius: 20rem;
}

.longInfo .time{
    justify-self: flex-end;
    position: absolute;
    right: 0%;
    color: var(--Gray4);
}

.longInfo .ratings{
    display: flex;
    align-items: center;
    gap: 0.2rem;
}

.longInfo .ratings img{
    width: 1.3rem;
}

.longInfo .feedback p.s-fontsize{
    color: var(--Gray5);
    margin-top: 1rem;
}

.feedback-container .btn{
    background-color: var(--GGray1);
    border-color: var(--GGray1);
    color: var(--Primary);
    cursor: pointer;
}

.feedback-container .btn:hover{
    background-color: var(--white);
    border-color: var(--Primary);
}

@media only screen and (max-width: 930px) {

    .longInfo .description, .longInfo .additional-info, .longInfo .feedback-container{
        width: 90%;

    }

    .longInfo .description, .longInfo .additional-info{
        flex-direction: column-reverse;
    }
}

@media only screen and (max-width: 500px) {
    .longInfo .feedback{
    width: 100%;
    }
}

