.faqs .wrapper{
    width: 80%;
    margin: 5rem auto;
    display: flex;
}

.faqs-component{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.faq-img-box{
    flex: 1;
}

.faq-img-box img{
    width: 100%;
}